body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid rgb(255, 52, 42);
}

.rayo-logo {
  height: 60px;
  animation: opacityStart 2s normal;
}

@keyframes opacityStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  margin-top: 20px;
  min-height: 80vh;
}

hr {
  width: 70vw;
  color: darkslategray;
  transition: width 0.5s ease-out;
}

.img-news {
  max-width: 70vw;
}

.comment-wrapper {
  margin-left: 20px;
  width: 25vw;
  min-height: 400px;
  background-color: darkslategray;
  color: whitesmoke;
}

.comment-single {
  color: whitesmoke;
  padding: 10px;
}

.comment-add input {
  width: 100%;
}

.technologies {
  display: flex;
  justify-content: center;
}

.technology {
  margin: 30px;
  transform: scale(3.5);
  transition: color 0.5s ease-out;
}

.technology:hover {
  transform: scale(4);
  color: tomato;
}

footer {
  margin-top: 30px;
  width: 100%;
  background-color: rgb(232, 187, 56);
  height: 60px;
  color: black;
  border-top: 2px solid rgb(255, 52, 42);
}
.footer-social a {
  color: black;
  transition: color 0.5s ease-out;
}
.footer-social a:hover {
  color: rgb(255, 52, 42);
}
.infobox {
  background-color: darkslategrey;
  color: whitesmoke;
  height: 100%;
  text-align: center;
}

@media (max-width: 542px) {
  .img-news {
    max-width: 94vw;
  }
  .comment-wrapper {
    margin: 0px;
    margin-bottom: 20px;
    width: 94vw;
  }
  hr {
    width: 94vw;
  }
  .infobox {
    width: 94vw;
  }
}
